body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Edge, Opera and Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

.fadeIn {
  -webkit-animation: fadein 1.1s; /* Safari, Chrome and Opera > 12.1 */
	 -moz-animation: fadein 1.1s; /* Firefox < 16 */
	  -ms-animation: fadein 1.1s; /* Internet Explorer */
	   -o-animation: fadein 1.1s; /* Opera < 12.1 */
		  animation: fadein 1.1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}





.rotated45 {

	transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  
  }

.disableSelection {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.fullscreen-enabled {
	background: #2B3E50;
}

.reduceOpacityOnHover:hover {
	opacity: 0.8;
}



.evidence-row {
	width:100%;
	cursor: pointer;
}
.evidence-row.green-background {
	background-color:#177326;
}
.evidence-row.red-background {
	background-color:#731717;
}
.evidence-row.darkgrey-background {
	background-color:#324254;
}

.evidence-header {
	min-width: 400px;
	text-align: left;
	margin: 5px;
	color: white;
}
.evidence-header.grey {
	color: grey;
}
@media screen and (max-width: 930px) {
	.evidence-header {
		min-width: 150px;
	}
}

.ghost-header {
	min-width: 0px;
	min-height: 60px;
	text-align: center;
	color: white;
}
.ghost-header.grey {
	color: grey;
}
.ghost-header.green {
	color: #05ff37;
}
@media screen and (max-width: 930px) {
	.ghost-header {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

.ghost-evidence {
	min-width: 0px;
	text-align: center;
	margin: 5px;
	color: white;
}
.ghost-evidence.grey {
	color: grey;
}
@media screen and (max-width: 930px) {
	.ghost-evidence {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}